This function is to demonstrate how to access the files using pandas and 
do groupby and get revenues per order

In [3]:
import pandas as pd

In [11]:
orderItems = pd.read_csv("/data/retail_db/order_items/part-00000",names=["order_item_id", "order_item_order_id", "order_item_product_id",
         "order_item_quantity", "order_item_subtotal", "order_item_product_price"])
orderItems

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99
...,...,...,...,...,...,...
172193,172194,68881,403,1,129.99,129.99
172194,172195,68882,365,1,59.99,59.99
172195,172196,68882,502,1,50.00,50.00
172196,172197,68883,208,1,1999.99,1999.99
172197,172198,68883,502,3,150.00,50.00

In [13]:
revenuePerOrder = orderItems.groupby(['order_item_order_id'])["order_item_subtotal"].sum()
revenuePerOrder

order_item_order_id
1         299.98
2         579.98
4         699.85
5        1129.86
7         579.92
          ...
68879    1259.97
68880     999.77
68881     129.99
68882     109.99
68883    2149.99
Name: order_item_subtotal, Length: 57431, dtype: float64